@charset "UTF-8";
		@font-face {
            font-family: 'twaysky';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
		.container {
            width: 80%;
            height: 100%;
            border: 1px solid grey;
            margin: auto;
            padding: 0;
            padding-top: 100px;
        }

        .listTxt {
            width: 90%;
            height: 50px;
            margin: auto;
            /* border: 1px solid grey; */
            padding-top: 20px;
            margin-bottom: 8px;
        }

        .listTxt>div {
            padding: 0;
        }

        .list-table {
            width: 90%;
            margin: auto;
        }

        .btnCls {
            margin-top: 20px;
            margin-right: 10px;
        }
        
        
        /* 리스트 목록 테이블 */
       	.seq_list {
       		position:relative;
       	}
       	
       	.seq_list > p{
       		display: inline;
       		position: absolute;
       		top: 50%;
       		left : 50%;
       		transform: translate(-50%, -50%);
       	}
       	
       	.list_title {
       		position: relative;
       	}
       	
        th:first-child {
        	text-align: center;
        }
        
        .dynamicBtnCls {
       		text-align: center;
       	}
       	
       	
        /* 수정, 삭제 버튼*/
        #btnModify {
        	width: 100%;	
        }
        
        #btnDelete {
        	width: 100%;
        }
        
        
        /*수정 모달*/
        #hiddenSeq_list {
        	display: none;
        }
        
        
        
        /* 맛집등록 모달 */
        
        .addRestContainer {
          width: 90%;
          margin: auto;
        }

        .addRestContainer h3 {
            font-family: "twaysky";
        }

        .addRestContainer >.row {
            margin-top: 30px;
        }

        .addressBtn {
            width: 100%;
        }

        .pkLabel {
            margin-right: 30px;
        }
        
        .ui-timepicker-container{ 
    		z-index:1151 !important; 
    		position: absolute;
		}